.PostShare{
    display: flex;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 10px;
    border-radius: 1rem;
}

.PostShare>img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.PostShare>div{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
}

.PostShare>div>input{
    background-color: var(--inputColor);
    border-radius: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    padding: 10px;
}

.postOptions{
    display: flex;
    justify-content: space-around;
}

.option{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
   


}
.option:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.ps-button{
    background: #d63384;
    cursor: pointer;
    font-size: 12px;
    padding: 10px 20px 10px;
}
.previewImage{
    position: relative;
}

.previewImage>svg{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;

}

.previewImage>img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 10px;
    overflow: scroll;
}